<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bughunters.bugmed">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="your.package.name.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="bugmed"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutUsActivity"></activity>
        <activity android:name=".FinderActivity" />
        <activity android:name=".VirtualAssistantActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:resource="@string/google_map_key" />

        <activity android:name=".MainActivity" />
        <activity android:name=".FindActivity" />
        <activity android:name=".AppointmentNotificationsActivity" />
        <activity android:name=".AppointmentSentEmailActivity" />
        <activity android:name=".AppointmentCategorySelectedActivity" />
        <activity android:name=".AppointmentProfileActivity" />
        <activity android:name=".AppointmentMainActivity" />
        <activity android:name=".AppointmentPatientRegistrationActivity" />
        <activity android:name=".AppointmentDoctorRegistrationActivity" />
        <activity android:name=".AppointmentSelectRegistrationActivity" />
        <activity android:name=".AppointmentLoginActivity" />
        <activity android:name=".DaanNotificationsActivity" />
        <activity android:name=".DaanSentEmailActivity" />
        <activity android:name=".DaanCategorySelectedActivity" />
        <activity android:name=".DaanProfileActivity" />
        <activity android:name=".DaanActivity" />
        <activity android:name=".DaanRecipientRegistrationActivity" />
        <activity android:name=".DaanDonorRegistrationActivity" />
        <activity android:name=".DaanSelectRegistrationActivity" />
        <activity android:name=".DaanLoginActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>